@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Poppins:wght@300&family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

:root {
  --primary: #136f63;
  --light: #b1a6a6;
  --grey: #032b43;
}
body {
  overflow: hidden;
  font-family: "Reem Kufi", sans-serif;
  font-weight: 300;
  color: var(--primary);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 25px;
}

.bg-primary {
  background-color: var(--primary) !important;
}

#sidebar-container {
  min-height: 100vh;
}
#sidebar-container .logo {
  padding: 0.875em 1.25rem;
}
#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}
.stat {
  border-right: 1 px solid var(--grey);
}

@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
    border: 0;
  }
}
